.App 
{
  text-align: center;
}

body 
{
  background-color: #ffffff;
  color: rgb(138, 120, 120);
  padding:  0 20%;
  font-family: 'Prompt', sans-serif;
  text-align: center;
}

.grid-container 
{
  display: grid;

  grid-template-columns: auto auto auto auto;

  background-color: #ffffff;
}

.text-container 
{
    width: 800px;
    height: 200px;
    margin-bottom: 5.5rem;
    text-align: left;
}

.mytext 
{
  white-space: pre;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  overflow: hidden  ;
  width: 750px;
  font-size: 20px;
  margin-top: 10px;
}

.topic 
{
  color: #2c9cdb;
  margin-top: 130px;
  margin-bottom: 50px;
  font-size: 90px;
}

.des 
{
  text-align: left;
}

.title 
{
  color:rgb(0, 0, 0);
  font-size: 28px;
  text-decoration: none;
  font-weight: bold;
}

.keyword 
{
  color:rgb(138, 120, 120);
  font-size: 10;
}

.link 
{
  font-size: 20px;
  color:rgb(138, 120, 120);
  }

.divKeyword 
{
  display: inline;
}

.button 
{
  padding: 7px 24px;
  background-color: white;
  color: black;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  z-index: 1;
  margin-bottom: 5rem;
  font-family: 'Prompt', sans-serif;
}

.responsive 
{
      float: left;
      padding: 3px;
      height: 450px;
      width: 400px;
      border-radius: 10px;
      margin-bottom: 80px;
      margin-right: 20px;
}

.responsive2 
{
  float: left;
  padding: 3px;
  height: 150px;
  width: 223px;
  border-radius: 8px;
  margin: 10px;
}
